@font-face {
    font-family: MaisonNeue-Mono;
    src: url(https://files.cargocollective.com/c1381777/MaisonNeue-Mono.otf);
}
@font-face {
    font-family: MaisonNeue-Book;
    src: url(https://files.cargocollective.com/c791355/MaisonNeue-Book.otf);
}

body {
	font-family: sans-serif;
	padding: 20px;
  background-color: blue;
}

div {

	padding: 0px;
}

section {
	height: 120px;
}

section:not(:first-child) {
	margin-top: 20px;
}

h2 {
  color: lightgray;
  font-weight: 200;
  font-size: 15px;
  font-style: italic;
  margin-left: 3px;
}

a {
   color: black;
   text-decoration: none;
   font-size: 18px;
   font-family: sans-serif;
}

a:hover {
   color: blue;
   text-decoration:none;
   cursor:pointer;
}

p {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-left: 3px;
  font-family: sans-serif;
}

p:hover {
   text-decoration:none;
   cursor:pointer;
}




.clickable:hover {
  color: blue;
  text-decoration:none;
  cursor:pointer;
}
